<div>
  <div class="container ">
    <h1 class='page-header'>Welcome to Spilt.Coffee</h1>
    <hr>
    <h2 class="subheader">We’re a coffee app made for coffee people.</h2>
    <h4 class="subheader">Let’s learn, share, discover, and brew together.</h4>
    <div class="leftSection">
        <p>
            Hi there,
        </p>
        <p>
            I’m Patrick, the founder of Spilt.Coffee and I’m so glad you’re here!
          
            I’d love to share what we’re building and where we’re headed. 
          
            I created Spilt with my best friend and brother Trevor out of my passion for coffee. 
          
            I love coffee.
          
            There’s something beautiful about it to me. Without getting to “out there”, coffee, to me, has always been a way to bring people together. And bringing people together is the whole reason we are here.
          
            Our community is built around learning, discovering, sharing, and of course brewing. 
          
            No matter what your coffee knowledge or experience, you are welcome here.
          
            I couldn’t be more excited to have you as a part of our community. 
          </p>
          <p>
            Sincerely,
          </p>
          <p>
            Patrick
          </p>
    </div>
    
    
    <div class="container">
      <button class="btn btn-lrg button-stack solid-button">Sign Up</button>
      <button class="btn btn-lrg button-stack hollow-button">Log In</button>
      <button class="btn btn-lrg button-stack solid-button">App Store</button>
    </div>
  </div>
</div>

